:root {
  --main-bg-color: #ddffe7;
  --main-standard-color-light: white;
  --main-standard-color-dark: black;
  --main-standard-color-medium: grey;
  --secondary-color: #98d7c2;
  --third-color: #167d7f;
  --confirm-color: #04aa6d;
  --detail-color: #0b0b45;
  --delete-color: #be0c0c;
  --delete-hover-color: red;
}

.debug {
  border: 1px solid red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-standard-color-dark);
  min-height: 100vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  overflow: hidden;
}

.header {
  text-align: center;
}
.fa-basket-shopping {
  font-size: 2.7rem;
  margin-right: 5px;
}

form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  justify-content: flex-end;
}

form input {
  background: var(--main-standard-color-light);
  border: none;
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 80px;
}
form input:focus {
  outline: none;
}
form button {
  border: none;
  border-radius: 100%;
  color: var(--main-standard-color-light);
  background-color: var(--third-color);
  cursor: pointer;
  font-size: 1.8rem;
  padding: 15px;
}

.fake-input-field {
  align-items: center;
  background-color: var(--main-standard-color-light);
  border: none;
  border-radius: 80px;
  margin: 5px;
  padding-left: 10px;
  width: max-content;
}

form button:hover {
  background-color: var(--confirm-color);
  color: var(--main-standard-color-light);
}
select {
  border: 0px;
  outline: 0px;
}
.market-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  max-height: 400px;
  overflow-y: scroll;
  /* border: var(--third-color) solid 2px; */
  padding: 10px;
  border-radius: 8px;
}

.market-list {
  min-width: 30%;
  list-style: none;
}

.market {
  align-items: center;
  background: var(--main-standard-color-light);
  color: var(--main-standard-color-dark);
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
  margin: 00.5rem;
  transition: all 1s ease;
  border-radius: 80px;
}

.market li {
  flex: 1;
}

.market-item {
  padding: 0rem 0.5rem;
}

.checked-item {
  margin: 10px;
}
.trash-btn,
.checked-item {
  background: var(--delete-color);
  border: none;
  color: var(--main-standard-color-light);
  cursor: pointer;
  font-size: 1rem;
  padding: 1rem;
}
.trash-btn {
  border-radius: 80px;
}
.trash-btn:hover {
  background-color: var(--delete-hover-color);
  color: var(--main-standard-color-light);
}

.fa-trash-can {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

select {
  padding: 0.5rem;
  margin-left: 5px;
}
.result {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: auto;
}
.total-price-class {
  align-items: center;
  /* border: solid 2px var(--third-color); */
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.h2 {
  font-size: 1rem;
}

#total-price {
  font-size: 2rem;
}
.page-controls {
  display: flex;
  flex-direction: column;
}
.dark-mode {
  display: flex;
  gap: 5px;
  justify-content: flex-end;
  margin: 10px 10px auto auto;
}
.dark-mode i {
  border: 2px solid var(--third-color);
  border-radius: 100%;
  margin-right: 5px;
  padding: 3px;
}
.dark-mode i:hover {
  cursor: pointer;
}
.content-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
}

#valueInput {
  float: right;
  width: 100px;
  margin-right: 10px;
  border-color: rgb(199, 37, 37);
  --darkreader-inline-border-top: #3e4446;
  --darkreader-inline-border-right: #3e4446;
  --darkreader-inline-border-bottom: #3e4446;
  --darkreader-inline-border-left: #3e4446;
  font-size: 12px;
  text-align: center;
  padding: 5px;
  border-width: 4px;
  border-radius: 21px;
  border-style: hidden;
  text-shadow: 0px 0px 0px rgba(42, 42, 42, 0.75);
  box-shadow: 1px 1px 5px 0px rgba(42, 42, 42, 0.75);
}

.InputLabel {
  margin-right: 10px;
  font-size: 20px;
}

body.dark {
  background-color: var(--detail-color);
  color: var(--main-standard-color-light);
}
.market-container::-webkit-scrollbar {
  display: none;
}

@media (max-width: 790px) {
  .content-container {
    flex-direction: column;
  }
}

@media (max-width: 475px) {
  .valueInput {
    width: 100%;
  }
}

@media (max-width: 600px) {
  form input {
    width: 100%;
  }

  input::placeholder {
    text-align: center;
  }

  .filter-market {
    margin-top: 10px;
  }

  form button {
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
  }

  form {
    width: 90%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .market-container {
    width: 100%;
  }

  .fake-input-field {
    background-color: transparent;
  }
}

@media (max-width: 375px) {
  form input {
    width: 100%;
  }

  form button {
    margin-top: 5px;
  }

  input::placeholder {
    text-align: center;
  }

  .filter-market {
    margin-top: 10px;
  }

  form {
    width: 90%;
  }

  .market-container {
    width: 100%;
  }

  .fake-input-field {
    background-color: transparent;
  }
}
